/*整體製作頁面背景*/
.container-fluid{
    background-color: #f7d5da;
    background-image: url('/public/img/sample/introduction.png');
    background-repeat: no-repeat;
    background-position: center center;
}    /*F7E9DF */