/* modifyCard 所有card head的style改變 */
.modify-card-collapse .ant-card-head{
    border-radius: 0;
    background: linear-gradient(0deg, #FFBEC8 0%, #FF8D9E 100%);
    /*rgb(246, 150, 83) rgb(255, 172, 112)*/
}

/* modifyCard 所有card 內容改變 */
.modify-card-collapse .ant-card-body{
    background: #F7D5DA;
}

/* 上傳檔案的垃圾桶顯示 */
.modify-card-collapse .ant-upload-list-item-card-actions .ant-btn{
    display: contents;
}

.modify-card-card-tile{
    margin-left: 15px;
}

/*調整的背景*/
.modify-card{
    margin-bottom: 30px;
    background-color: #FFC0C8;
    /*orange*/
}

.modify-card-title{
    font-size: 16px;
    font-weight: bold;
}

.modify-card-collapse .ant-collapse-content-box{
    background-color: #F7D5DA;
    padding: 0;
}