
.fixed-game-footer{
    bottom: 0;
    left: 0;
    padding: 8px 22.5px;
    background-color: rgba(0, 0, 0, 0.664);

    /* antd */
    position: fixed;
    z-index: 1;
    width: 100%;
    /* antd */
}


.modify-cards-screen{
    left: 100%;
    height: calc(100vh - 4rem); 
    overflow-y: auto;
}


/* Small devices (landscape phones, 576px and up) */
/* Only have right yellow cards */
@media (max-width:768px){
    .right-select-bar{
        width: 100%;
    }
}





/* preview-button-PC and preview-button-mobile decide showing the smartphone */
.preview-button-PC{
    display: block;
    gap: 8px
}

.preview-button-mobile{
    display: none;
    gap: 0
}

@media (max-width:845px){
    .preview-button-PC{
        display: none;
        gap: 0
    }

    .preview-button-mobile{
        display: block;
        gap: 8px
    }
}

.editscreen-list-collapse{
    border: none;
    border-radius: 0px;
}

/* list被選中 */
.editscreen-list-selected{
background: #FFC0C8;
}


/* list未選中 -> 默認 */
.editscreen-list-unselected{
    background: #FFF89A;
}


/* #F7E9DF */

/* 下放編輯按鈕顏色 */
/*預覽變化*/
.preview-button{
    background: linear-gradient(0deg, #FFC0C8 0%, #FFC0C8 100%);
    color: black;
    border-color: black;
}
.preview-button:hover{
    background: linear-gradient(0deg, #FFC0C8 0%, #FF8D9E 100%);
    color: #5C5C5C;
    border-color: white;
}
.preview-button:focus{
    background: linear-gradient(0deg, #FFC0C8 0%, #FF8D9E 100%);
    color: #5C5C5C;
    border-color: white;
}
/*儲存、生成遊戲按鈕*/
.save-release-button{
    background: linear-gradient(0deg, #FFF89A 0%, #FFF89A 100%);
    color: black;
    border-color: black;
}
.save-release-button:hover{
    background: linear-gradient(0deg, #FFF89A 0%, #FFEE00 100%);
    color: #5C5C5C;
    border-color: white;
}
.save-release-button:focus{
    background: linear-gradient(0deg, #FFF89A 0%, #FFEE00 100%);
    color: #5C5C5C;
    border-color: white;
}
/*回到默認資料*/
.default-button{
    background: linear-gradient(0deg, #F55D47 0%, #F55D47 100%);
    color: black;
    border-color: black;
}
.default-button:hover {
    background: linear-gradient(0deg, #F55D47 0%, #FF7863 100%);
    color: #5C5C5C;
    border-color: white;
}
.default-button:focus{
    background: linear-gradient(0deg, #F55D47 0%, #FF7863 100%);
    color: #5C5C5C;
    border-color: white;
}

.delete-item-icon{
    cursor: pointer;
}